@{
    Layout = null;
}
<!-- Head Start -->
@Html.Partial("PartialHead")
<!-- Head End -->
<!DOCTYPE html>
<html lang="en">
<body>

    @Html.Partial("PartialNavbar")

    @Html.Partial("PartialPageHeader")
   
    @await Component.InvokeAsync("ProductListComponentPartial")
     
    @Html.Partial("PartialFirmVisit")
        
    @await Component.InvokeAsync("TestimonialComponentPartial")

    @await Component.InvokeAsync("FooterComponentPartial")  

    @await Component.InvokeAsync("ScriptComponentPartial")
</body>

</html>