<!-- Firm Visit Start -->
    <div class="container-fluid bg-primary bg-icon mt-5 py-6">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-md-7 wow fadeIn" data-wow-delay="0.1s">
                    <h1 class="display-5 text-white mb-3">Bizi Ziyaret Edin</h1>
                <p class="text-white mb-0">
                    Müşteri memnuniyeti ve profesyonellik ilkelerimizle sizleri ağırlamaktan mutluluk duyacağız. Firmamızı ziyaret edin ve kaliteli hizmetimizin tadını çıkarın!
                </p>
                </div>
                <div class="col-md-5 text-md-end wow fadeIn" data-wow-delay="0.5s">
                <a class="btn btn-lg btn-secondary rounded-pill py-3 px-5" href="http://maps.google.com/?q=Tuzla Belediyesi Teknoloji Geliştirme Merkezi" target="_blank"><i class="bi bi-geo-alt-fill"></i> Merkezimizi Ziyaret Edin</a>
                </div>
            </div>
        </div>
    </div>
<!-- Firm Visit End -->